# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example
prime_backend/.env
prime_frontend/.env

# Node / frontend
node_modules/
dist/
build/

# Django
db.sqlite3         
media/
staticfiles/
*.log              
*.pot
*.pyc
*.mo

# PostgreSQL dump files 
*.sql
*.dump

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
