@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out 0.2s both;
}



.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgba(30, 136, 200, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 136, 200, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

